<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur10e_workarea">

  <xacro:include filename="$(find ur_description)/urdf/inc/ur_macro.xacro"/>
  <xacro:include filename="$(find onrobot_rg_description)/urdf/onrobot_rg2_model_macro.xacro" />
  <xacro:include filename="$(find ur10e_sim)/urdf/table.urdf.xacro" />
  <xacro:include filename="$(find ur10e_sim)/urdf/tool_adapter_plate.xacro" />
  <xacro:include filename= "$(find ur10e_sim)/urdf/FT_sensor_urdf/net_ft_sensor_macro.urdf.xacro" />


  <link name="world"/>

  <link name="floor_plate">
    <visual>
      <geometry>
        <box size="1.0 1.0 0.1"/>
        </geometry>
      <material name="grey">
        <color rgba="0.5 0.5 0.5 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 1.0 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="100.0"/>
      <inertia ixx="8.4" ixy="0" ixz="0" iyy="8.4" iyz="0" izz="16.7" />
    </inertial>
  </link>

  <joint name="world_to_floor_plate" type="fixed">
    <parent link="world"/>
    <child link="floor_plate"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>


  <xacro:ur_robot
    prefix=""
    joint_limits_parameters_file="$(find ur_description)/config/ur10e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur10e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur10e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur10e/visual_parameters.yaml"
  />
  <joint name="table_to_robot" type="fixed">
    <parent link="floor_plate"/>
    <child link="base_link"/> <origin xyz="0 0 0.05" rpy="0 0 0"/> 
  </joint>

  <gazebo reference="table_to_robot">
    <preserveFixedJoint>true</preserveFixedJoint>
  </gazebo>

  <xacro:adapter_plate parent="tool0" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:adapter_plate>

  <xacro:net_ft_sensor parent="adapter_plate_socket" prefix="">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:net_ft_sensor>

  <xacro:onrobot_rg2 prefix=""/>
  <joint name="gripper_attachment" type="fixed">
  <parent link="tool_mount_link"/> <child link="onrobot_rg2_base_link"/> 
  <origin xyz="0 0 0" rpy="0 0 1.5708"/>
  </joint>

  <link name="gripper_tcp"/>
  <joint name="gripper_tcp_attachment" type="fixed">
    <parent link="onrobot_rg2_base_link"/> 
    <child link="gripper_tcp"/> 
    <origin xyz="0 0 0.15" rpy="0 0 0"/>
  </joint>

  <xacro:wooden_table prefix="right_"/>
  <joint name="right_table_attachment" type="fixed">
    <parent link="world"/> 
    <child link="right_table_base_link"/> 
    <origin xyz="0 1 0" rpy="0 0 0"/>
  </joint>

  <xacro:wooden_table prefix="left_"/>
  <joint name="left_table_attachment" type="fixed">
    <parent link="world"/> 
    <child link="left_table_base_link"/> 
    <origin xyz="0 -1 0" rpy="0 0 0"/>
  </joint>

  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo reference="wrist_3_joint">
  <implicitSpringDamper>true</implicitSpringDamper>
  <kp>1000000.0</kp>
  <kd>100.0</kd>
</gazebo>

<gazebo reference="shoulder_pan_joint">   <implicitSpringDamper>true</implicitSpringDamper> </gazebo>
<gazebo reference="shoulder_lift_joint">  <implicitSpringDamper>true</implicitSpringDamper> </gazebo>
<gazebo reference="elbow_joint">          <implicitSpringDamper>true</implicitSpringDamper> </gazebo>
<gazebo reference="wrist_1_joint">        <implicitSpringDamper>true</implicitSpringDamper> </gazebo>
<gazebo reference="wrist_2_joint">        <implicitSpringDamper>true</implicitSpringDamper> </gazebo>

<gazebo>
  <physics type="ode">
    <max_step_size>0.001</max_step_size>
    <real_time_update_rate>1000</real_time_update_rate>
    <ode>
      <solver>
        <type>quick</type>
        <iters>100</iters>
      </solver>
    </ode>
  </physics>
</gazebo>

</robot>