<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <arg name="path" default="$(find ur10e_sim)/urdf/ur10e_workarea.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro '$(arg path)'" />

  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

  <rosparam file="$(find ur10e_moveit_config)/config/ros_controllers.yaml" command="load"/>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="manipulator_controller gripper_controller joint_state_controller"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />

</launch>