<?xml version="1.0"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ur10e_sim)/my_worlds/my_workarea.world"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
  </include>

  <!-- Load urdf on the parameter server -->
  <arg name="path" default="$(find ur10e_sim)/urdf/ur10e_workarea.urdf.xacro" />
  <param name="robot_description" command="$(find xacro)/xacro '$(arg path)'" />

 <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param robot_description -model robot -z 0.0  
              -J finger_joint 0.5" 
        respawn="false" output="screen" />
  
  <!--controller configuration-->
  <arg name="controller_config_file" default="$(find ur10e_sim)/config/ur_controllers.yaml" doc="Config file used for defining the ROS-Control controllers."/>
  <arg name="controllers" default="joint_state_controller arm_controller rg2_gripper_controller" doc="Controllers that are activated by default."/>
  <arg name="stopped_controllers" default="" doc="Controllers that are initally loaded, but not started."/>

  <rosparam file="$(arg controller_config_file)" command="load"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" args="$(arg controllers)"
        launch-prefix="bash -c 'sleep 2.0; $0 $@' "/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />
  
<param name = "cube" command="$(find xacro)/xacro '$(find ur10e_sim)/urdf/cube_spawner.urdf.xacro' name:=cube size:=0.1"/>
   <node name="spawn_cube" pkg="gazebo_ros" type="spawn_model" 
        args="-urdf -param cube -model my_cube -x 0.0 -y -1.0 -z 0.97" 
        launch-prefix="bash -c 'sleep 5.0; $0 $@' " />

<!--param name="Lebkuchen"  command="$(find xacro)/xacro '$(find ur10e_sim)/urdf/lebkuchen.urdf.xacro'" />

<node name="spawn_lebkuchen" pkg="gazebo_ros" type="spawn_model" 
      args="-urdf -param Lebkuchen -model lebkuchen -x 0.0 -y -1.0 -z 0.97" 
      launch-prefix="bash -c 'sleep 5.0; $0 $@' "/-->


</launch>